apiVersion: v1
kind: Service
metadata:
  name: cb-haproxy-service
  namespace: {{ default "clearblade" .Values.global.namespace }}
  {{- if eq .Values.global.cloud "aws" }}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    service.beta.kubernetes.io/aws-load-balancer-eip-allocations: {{ .Values.primaryIP }}
  {{- end }}
spec:
  type: LoadBalancer
  {{- if eq .Values.global.cloud "gcp" }}
  loadBalancerIP: {{.Values.primaryIP}}
  {{- end }}
  externalTrafficPolicy: Local
  ports:
      {{- if .Values.ports.httpEnabled }}
    - name: http
      targetPort: 8080
      port: {{ .Values.ports.http }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.httpsEnabled }}
    - name: https
      targetPort: 8443
      port: {{ .Values.ports.https }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mtlsEnabled }}
    - name: mtls
      targetPort: 444
      port: {{ .Values.ports.mtls }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttEnabled }}
    - name: mqtt
      targetPort: 1884
      port: {{ .Values.ports.mqtt }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.secondaryMqttEnabled }}
    - name: secondary-mqtt
      targetPort: 1884
      port: {{ .Values.ports.secondaryMqtt }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.tertiaryMqttEnabled }}
    - name: tertiary-mqtt
      targetPort: 1884
      port: {{ .Values.ports.tertiaryMqtt }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttWSEnabled }}
    - name: mqtt-ws
      targetPort: 8904
      port: {{ .Values.ports.mqttWS }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttAuthEnabled }}
    - name: mqtt-auth
      targetPort: 8906
      port: {{ .Values.ports.mqttAuth }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttAuthUnsecureEnabled }}
    - name: mqtt-auth-unsecure
      targetPort: 8905
      port: {{ .Values.ports.mqttAuthUnsecure }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttWSAuthEnabled }}
    - name: mqtt-ws-auth
      targetPort: 8907
      port: {{ .Values.ports.mqttWSAuth }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.edgeRPCEnabled }}
    - name: edge-rpc
      targetPort: 8951
      port: {{ .Values.ports.edge }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttUnsecureEnabled}}
    - name: mqtt-old
      targetPort: 1883
      port: {{ .Values.ports.mqttUnsecure }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttUnsecureSecondaryEnabled}}
    - name: mqtt-unsecure-secondary
      targetPort: 1883
      port: {{ .Values.ports.mqttUnsecureSecondary }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttUnsecureTertiaryEnabled}}
    - name: mqtt-unsecure-tertiary
      targetPort: 1883
      port: {{ .Values.ports.mqttUnsecureTertiary }}
      protocol: TCP
      {{- end }}
  selector:
    app: cb-haproxy
---
apiVersion: v1
kind: Service
metadata: 
  name: cb-haproxy-metrics-service
  namespace: {{ default "clearblade" .Values.global.namespace }}
  labels:
    run: cb-haproxy
spec:
  ports:
  - name: exporter
    targetPort: 9876
    port: 9876
    protocol: TCP
  selector:
    app: cb-haproxy
{{- if .Values.mqttOver443 }}
---
apiVersion: v1
kind: Service
metadata:
  name: cb-haproxy-mqtt-service
  namespace: {{ default "clearblade" .Values.global.namespace }}
spec:
  type: LoadBalancer
  loadBalancerIP: {{.Values.mqttIP}}
  externalTrafficPolicy: Local
  ports:
      {{- if .Values.ports.mqttURLMQTTEnabled }}
    - name: mqtt
      targetPort: 1884
      port: {{ .Values.ports.mqttURLMQTT }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttURLSecondaryMQTTEnabled }}
    - name: mqtt-secondary
      targetPort: 1884
      port: {{ .Values.ports.mqttURLSecondaryMQTT }}
      protocol: TCP
      {{- end }}
      {{- if .Values.ports.mqttURLMTLSEnabled }}
      targetPort: 444
      port: {{ .Values.ports.mqttURLMTLS }}
      {{- end }}
    - name: http
      targetPort: 8080
      port: 80
      protocol: TCP
      {{- if .Values.ports.mqttURLhttpsEnabled }}
    - name: https
      targetPort: 8443
      port: {{ .Values.ports.mqttURLhttps }}
      protocol: TCP
      {{- end }}
  selector:
    app: cb-haproxy
{{- end }}
{{- if eq (default .Values.global.gmpEnabled false) false}}
---
{{- if .Values.global.monitoringEnabled }}
{{- range $i, $e := until (.Values.replicas | int)}}
apiVersion: v1
kind: Service
metadata: 
  name: cb-haproxy-monitoring-service-{{$i}}
  namespace: {{ default "clearblade" $.Values.global.namespace }}
  labels:
    run: cb-haproxy
spec:
  ports:
  - name: metrics
    port: 9101
    protocol: TCP
  selector:
    statefulset.kubernetes.io/pod-name: cb-haproxy-{{$i}}
---
{{- end}}
{{- end}}
{{- end}}
{{- if .Values.certRenewal }}
---
apiVersion: v1
kind: Service
metadata: 
  name: cb-haproxy-controller-service
  namespace: {{ $.Values.global.namespace }}
  labels:
    run: cb-haproxy
spec:
  ports:
  - name: controller
    targetPort: 5001
    port: 5001
    protocol: TCP
  selector:
    app: cb-haproxy
{{- end }}
